Source: rpmmake
Section: libs
Priority: optional
Maintainer: Miroslav Safr <miroslav.safr@gmail.com>
Build-Depends: debhelper (>= 5), rpm
Suggest: appver
Standards-Version: 1.0.0

Package: rpmmake
Architecture: all
Depends: debhelper (>= 5), rpm, tar, ${misc:Depends}, ${launcher:Depends}, ${shlibs:Depends}
Description: create rpm package inside the git repo without being root 


