Source: rpmmake
Section: utils
Priority: optional
Maintainer: Miroslav Safr <miroslav.safr@gmail.com>
Build-Depends: debhelper (>= 5), appver, rpm, jenkins-support-scripts (>=1.2.3)
Standards-Version: 3.8.1
Homepage: http://safrm.net/projects/rpmmake

Package: rpmmake
Architecture: all
Depends: rpm,  expect, ${misc:Depends}
Description: create rpm package inside the git repo without being root and more \
	including rpm and debian changelog creation scripts from git

