#!/usr/bin/make -f
DEB_VERBOSE_ALL=yes
export DH_VERBOSE=1

%:
	dh  $@
	
override_dh_auto_build:
	DEBVERSION=$(dpkg-parsechangelog | sed -n -e 's/^Version: //p' &>/dev/null)
	cd doc && ./update_docs.sh $DEBVERSION && cd -
	dh_auto_build
